@font-face {
    font-family: 'chessfont';
    src: url('resources/fonts/chess.ttf');
}

.chess {
  width: 100vw;
  height: 100vh;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#chess-message-turn {
  height: 14vh;
  line-height: 14vh;
  text-align: center;
  font-family: "OptimusPrinceps";
  font-size: 6vh;
  color: #eee;
}

#chess-captures-w {
  width: calc( 60vh + 12px );
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  font-family: "chessfont";
  font-size: 3vh;
  color: #eee;
  margin: auto;
}

#chess-captures-r {
  margin: 60vh auto auto auto;
  width: calc( 60vh + 12px );
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  font-family: "chessfont";
  font-size: 3vh;
  color: #993232;
}

#chess-message-state {
  height: 14vh;
  line-height: 14vh;
  text-align: center;
  font-family: "OptimusPrinceps";
  font-size: 6vh;
  color: #eee;
}

.board {
  -webkit-box-shadow: 0px 0px 14px black;
          box-shadow: 0px 0px 14px black;
  border: 6px solid #555;
  background: #eeeed2;
  position: absolute;
  color :#fff;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.boardRow {
   display: block;
   width: 60vh;
   height: 7.5vh;
}

.square {
  width: 12.5%;
  height: 100%;
  float: left;
}
.square.color0 {
  background:	#eeeed2;
}
.square.color1 {
  background: #769656;
}


.piece {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 6.5vh;
  line-height: 7.5vh;
  font-family: 'chessfont';
  transition: all 0.5s ease;
}
.piece.active {
  cursor: pointer;
}
.piece.chosen {
  background:	rgba(0, 115, 153, 0.85);
}
.piece.possible {
  background:	rgba(230, 96, 0, 0.4);
  cursor: pointer;
}
.piece.possible:hover {
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.3);
}
.piece.w {
  color: #eee;
  text-shadow: 0px 0px 8px black;
}
.piece.r {
  color: 	#993232;
  text-shadow: 0px 0px 8px #bbb;
}

.piece-promo div {
  width: 3.75vh;
  height: 3.75vh;
  margin: 0;
  font-size: 3.25vh;
  font-family: "chessfont";
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease;
}
.piece-promo div:hover {
  background-color:	rgba(0, 115, 153, 0.85);
}
.piece-promo.w {
  color: #eee;
  text-shadow: 0px 0px 8px black;
}
.piece-promo.r {
  color: 	#993232;
  text-shadow: 0px 0px 8px #bbb;
}

.chess-captures-piece {
  display: inline;
  cursor: pointer;
  opacity: 0.75;
}
