body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: none;
  background-color: #eee;
}
body.whitesTurn {
  background-color: #eee; 
}
body.redsTurn {
  background-color: maroon; 
}
